:host{
    display: grid;
    grid-template-rows: 10mm auto;
    grid-template-columns: 1fr;
    grid-template-areas: 'form' 'map';
    font-family: Arial, Helvetica, sans-serif;
}

:host > form{
    grid-area:form;
    padding:2mm;
    display: grid;
    grid-template-columns: auto 52mm 50mm 8mm;
    background:whitesmoke;
}

:host > form > h3{
    margin:0;
}
:host > form > div {
    margin:auto;
    font-size:12px;
}
:host > form > div > *{
    vertical-align: middle;
    display: inline-block;
}
:host > form > div > input{
    background:none;
    border:none;
}
:host > form > div > input::-webkit-inner-spin-button {
    opacity: 1
}
:host > form > button {
   padding:0;
   background:transparent;
   border:none;
   cursor:pointer;
   margin-left:1mm;
   width:7mm;
}
:host > form > button > img{
    width:6mm;
    height:100%;
}
:host > div{
    grid-area:map;
    background:whitesmoke;
}
:host > span{
    position:fixed;
    bottom:1mm;
    left:1mm;
}
@media screen and (max-width: 750px) {
    :host{
        display: grid;
        grid-template-rows: 20mm auto;
    }
    :host > form{
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 52mm 60mm auto 20mm;
        grid-template-areas: 'title title title button' 'start end none button';

    }
    :host > form > h3{
        grid-area: title;

    }
    :host > form > div[name="start"] {
        grid-area: start;
    }
    :host > form > div[name="end"] {
        grid-area: end;
    }
    :host > form > button {
        grid-area: button;
       width:75%;
    }
    :host > form > button > img {
   
       width:100%;
    }
  }

@media screen and (max-width: 500px) {
    :host{
        display: grid;
        grid-template-rows: 30mm auto;
    }
    :host > form{
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: auto 20mm;
        grid-template-areas: 'title title' 'start button' 'end button';

    }
    :host > form > h3{
        grid-area: title;

    }
    :host > form > div{
        margin-left:2mm;
    }
    :host > form > div[name="start"] {
        grid-area: start;
    }
    :host > form > div[name="end"] {
        grid-area: end;
    }
    :host > form > button {
        grid-area: button;
       width:75%;
    }
    :host > form > button > img {
   
       width:100%;
    }
  }
  